main{
    .details{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        .fr_details{
            width: 80%;
            padding: 20px;
            justify-content: space-around;
            display: flex;
            ._left{
                width: 50%;
                display: flex;
                justify-content: center;
             
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            ._right{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                h3{
                    text-transform: uppercase;
                    font-size: 34px;

                    line-height: 1.4;
                    color: #fff;
                    font-weight: 600;
                    font-family: "Josefin Sans", Arial, sans-serif;
                }
                .price{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: 30px;
                    color: #f8b500;
                }
                .text{
                    font-size: 16px;
                    line-height: 1.8rem;
                }
                select{
                    width: 30%;
                    height: 44px;
                    bordeR: 1px solid rgba(255, 255, 255, 0.1) ;
                    color: #c49b63 ;
                    border: 1px solid c49b63;
                    display: flex;  
                    align-items: center;
                    padding: 10px;
                    border-radius: 3px;
                    background-color: transparent;
                    option{
                        color: #f8b500;
                    }
                }
                button{
                    height: 50px;
                    width: 35%;
                    padding: 20px;
                    background-color: #f8b500;
                    margin-top: 20px;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    main{
        .details{ 
            .fr_details{
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px){
    main{
        .details{ 
            .fr_details{
                width: 100%;
                flex-wrap: wrap;
                ._left{
                    width: 100%;
                }
                ._right{
                    width: 100%;
                }
            }
        }
    }
}